.custom-name-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: auto;
}

.lata-bg {
  width: 100%;
  display: block;
}

.custom-name-input,
.input-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 40px;
  font-family: 'Coke';
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  z-index: 2;
  color: #ed1a3b;
  line-height: 1;
  padding: 0;
}

/* Estilo do placeholder */
.custom-name-input::placeholder {
  color: #ed1a3b;
}

.input-outline {
  z-index: 1;
  font-family: 'CokeOutline';
  color: white;
  pointer-events: none;
}

.custom-name-button {
  margin-top: 120px;
}


@media (max-width: 360px) {
  .custom-name-input,
  .input-outline {
    width: 95%;
    font-size: clamp(24px, 7vw, 44px);
  }
}

