@font-face {
  font-family: 'Trenda';
  src: url(../assets/fonts/Trenda-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Trenda-Bold';
  src: url(../assets/fonts/Trenda-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Coke';
  src: url(../assets/fonts/Coke-Regular.otf);
}

@font-face {
  font-family: 'CokeOutline';
  src: url(../assets/fonts/Coke-Outline.otf);
}

:root {
  --font-primary: 'Trenda', sans-serif;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-primary);
}

input, button, select, textarea {
  font-family: inherit;
}